.primary-nav {

	&--pull-right {
		float: right;
	}
	/*breaking bem here*/
	ul {
		margin: 0;
		padding: 0;
		@mixin clearfix;
	}
/*because we use floats, get the parent to clearfix*/
	li {
		list-style: none;
		float: left;
		padding-right: 20px;
	}

	a {
		color: white;
		font-weight: 300;
		display: block;
		text-decoration: none;
		padding: 12px 0;
	}

}